.loading {
	background-image: url('loader2.gif');
	background-repeat: no-repeat;
	background-position: 95% center;
}

.balance .type {
	font-weight: bold;
}

.sources a {
	display: block;
}

.sources a:hover {
	text-decoration: none;
	color: white;
}

.worker {
	font-size: 85%;
}

.worker .speed {
	color: white;
	font-weight: bold;
}
